/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

/* NavBar styles */
.navbar {
    background: black; /* Dark blue color, you can adjust this to your preference */
    color: white; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    /* border-bottom: 1px solid #ccc; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;  */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 120px;
    width: 130px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: large;
}

.navbar .nav-links a, span {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.navbar .nav-links a:hover, span:hover {
    background: #f0f0f0;
    color: black;
    border-radius: 5px;
}

.nav-item.ml-auto {
    margin-left: auto;
}

.cart-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
}
